body{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-image: url('images/wall-1851061__340.jpg');
  background-repeat: no-repeat;
  background-size:cover; 
  min-height: 100vh; 
  overflow: hidden;
}

.form-container {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center; 
  justify-items: center;
}

.text-center {
  color:burlywood
}

